<form action="/admin/categorias/nova" method="POST">
  <label for="name">Nome: </label>
  <input type="text" id="name" name="name" placeholder="Nome da Categoria">
  <label for="slug">Slug: </label>
  <input type="text" id="slug" name="slug" placeholder="Slug da Categoria">
</form>